### Imports

In [21]:
import quandl, math
import pandas as pd
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
df = quandl.get("WIKI/GOOGL")

### EDA

In [3]:
df.shape

(3251, 12)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3251 entries, 2004-08-19 to 2017-07-18
Data columns (total 12 columns):
Open           3251 non-null float64
High           3251 non-null float64
Low            3251 non-null float64
Close          3251 non-null float64
Volume         3251 non-null float64
Ex-Dividend    3251 non-null float64
Split Ratio    3251 non-null float64
Adj. Open      3251 non-null float64
Adj. High      3251 non-null float64
Adj. Low       3251 non-null float64
Adj. Close     3251 non-null float64
Adj. Volume    3251 non-null float64
dtypes: float64(12)
memory usage: 330.2 KB

In [5]:
df.apply(lambda x: x.isnull().sum())

Open           0
High           0
Low            0
Close          0
Volume         0
Ex-Dividend    0
Split Ratio    0
Adj. Open      0
Adj. High      0
Adj. Low       0
Adj. Close     0
Adj. Volume    0
dtype: int64

In [6]:
df.describe()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
count,3251.000000,3251.000000,3251.000000,3251.000000,3.251000e+03,3251.000000,3251.0,3251.000000,3251.000000,3251.000000,3251.000000,3.251000e+03
mean,573.312020,578.619837,567.450564,573.074328,8.142867e+06,0.174707,1.0,375.959497,379.289658,372.243698,375.812562,8.142867e+06
std,207.941495,208.527363,207.032307,207.861162,8.338835e+06,9.961350,0.0,218.702860,219.860540,217.254913,218.665278,8.338835e+06
min,99.090000,101.740000,95.960000,100.010000,5.211410e+05,0.000000,1.0,49.698414,51.027517,48.128568,50.159839,5.211410e+05
25%,452.580000,457.640000,447.510000,451.525000,2.861619e+06,0.000000,1.0,226.990699,229.528533,224.447849,226.461565,2.861619e+06
50%,555.130000,560.129900,549.000000,554.520000,5.369200e+06,0.000000,1.0,294.032651,295.873333,290.506767,293.099771,5.369200e+06
75%,694.890000,702.205000,687.315000,695.220000,1.077905e+07,0.000000,1.0,542.085000,545.855000,537.530000,541.875000,1.077905e+07
max,1226.800000,1228.880000,1218.600000,1220.170000,8.215110e+07,567.971668,1.0,1005.490000,1008.610000,996.620000,1004.280000,8.215110e+07

In [7]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [8]:
df.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2017-07-12,960.86,969.63,957.04,967.6600,1589548.0,0.0,1.0,960.86,969.63,957.04,967.6600,1589548.0
2017-07-13,970.80,978.70,964.80,968.7175,1519987.0,0.0,1.0,970.80,978.70,964.80,968.7175,1519987.0
2017-07-14,974.00,977.54,970.15,976.9100,1048240.0,0.0,1.0,974.00,977.54,970.15,976.9100,1048240.0
2017-07-17,976.32,983.35,970.80,975.9600,1644618.0,0.0,1.0,976.32,983.35,970.80,975.9600,1644618.0
2017-07-18,973.36,990.85,972.04,986.9500,1398920.0,0.0,1.0,973.36,990.85,972.04,986.9500,1398920.0

### Feature Engineering

In [9]:
# (Peak - Trough) / Trough * 100
df['hi_lo_pct'] = (df['Adj. High'] - df['Adj. Low']) / df['Adj. Close'] * 100.0

In [10]:
# (New - Old) / Old * 100
df['pct_change'] = (df['Adj. Close'] - df['Adj. Open']) / df['Adj. Close'] * 100.0

In [11]:
# Drop unused columns
df.drop(['Open', 'High', 'Low', 'Close', 'Volume', 'Ex-Dividend', 'Split Ratio', 'Adj. Open', 'Adj. High', 'Adj. Low'], axis=1, inplace=True)

In [12]:
# Forecast out {{ 1% * len(df) }} days into the future
forecast_col = 'Adj. Close'
forecast_pct = 0.01
forecast_out = int(math.ceil(forecast_pct * len(df)))
df['label'] = df[forecast_col].shift(-forecast_out)

In [13]:
df.head()

            Adj. Close  Adj. Volume  hi_lo_pct  pct_change      label
Date
2004-08-19   50.322842   44659000.0   8.072956    0.323915  68.752232
2004-08-20   54.322689   22834300.0   7.921706    6.739913  69.639972
2004-08-23   54.869377   18256100.0   4.049360   -1.243144  69.078238
2004-08-24   52.597363   15247300.0   7.657099   -6.074187  67.839414
2004-08-25   53.164113    9188600.0   3.886792    1.169811  68.912727

In [14]:
df.tail()

            Adj. Close  Adj. Volume  hi_lo_pct  pct_change  label
Date
2017-07-12    967.6600    1589548.0   1.301077    0.702726    NaN
2017-07-13    968.7175    1519987.0   1.434887   -0.214975    NaN
2017-07-14    976.9100    1048240.0   0.756467    0.297878    NaN
2017-07-17    975.9600    1644618.0   1.285913   -0.036887    NaN
2017-07-18    986.9500    1398920.0   1.905872    1.376969    NaN

### Training

In [15]:
# Get and scale features
X = np.array(df.drop('label', axis=1))
X = preprocessing.scale(X)

In [16]:
# Get forecasts
X_lately = X[-forecast_out:]
X = X[:-forecast_out]

In [17]:
# Drop last 1% of data since it will lack a label
df.dropna(inplace=True)

In [18]:
# Get labels
y = np.array(df['label'])

In [22]:
# Get train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [23]:
# Get SVM and fit train data
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

### Evaluation

In [25]:
# Get predictions
y_pred = lin_reg.predict(X_test)

In [30]:
# Coefficient of determination (R^2)
r2 = r2_score(y_test, y_pred)
print('\nCoefficient of Determination: ' + str(r2))

# Root mean squared error (RMSE)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print('\nRoot Mean Squared Error: ' + str(rmse))

Coefficient of Determination: 0.973199842068

Root Mean Squared Error: 35.2049351174