### Imports

In [30]:
import quandl, math
import pandas as pd
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [5]:
df = quandl.get("WIKI/GOOGL")

### EDA

In [6]:
df.shape

(3250, 12)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3250 entries, 2004-08-19 to 2017-07-17
Data columns (total 12 columns):
Open           3250 non-null float64
High           3250 non-null float64
Low            3250 non-null float64
Close          3250 non-null float64
Volume         3250 non-null float64
Ex-Dividend    3250 non-null float64
Split Ratio    3250 non-null float64
Adj. Open      3250 non-null float64
Adj. High      3250 non-null float64
Adj. Low       3250 non-null float64
Adj. Close     3250 non-null float64
Adj. Volume    3250 non-null float64
dtypes: float64(12)
memory usage: 330.1 KB

In [8]:
df.apply(lambda x: x.isnull().sum())

Open           0
High           0
Low            0
Close          0
Volume         0
Ex-Dividend    0
Split Ratio    0
Adj. Open      0
Adj. High      0
Adj. Low       0
Adj. Close     0
Adj. Volume    0
dtype: int64

In [9]:
df.describe()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
count,3250.000000,3250.000000,3250.000000,3250.000000,3.250000e+03,3250.000000,3250.0,3250.000000,3250.000000,3250.000000,3250.000000,3.250000e+03
mean,573.188928,578.492997,567.326075,572.946982,8.144943e+06,0.174761,1.0,375.775681,379.101486,372.059146,375.624519,8.144943e+06
std,207.855000,208.433983,206.942434,207.766270,8.339278e+06,9.962882,0.0,218.485202,219.632387,217.033322,218.435871,8.339278e+06
min,99.090000,101.740000,95.960000,100.010000,5.211410e+05,0.000000,1.0,49.698414,51.027517,48.128568,50.159839,5.211410e+05
25%,452.575000,457.555000,447.445000,451.457500,2.866494e+06,0.000000,1.0,226.988191,229.485901,224.415248,226.427711,2.866494e+06
50%,555.115000,560.064950,548.865000,554.515000,5.369500e+06,0.000000,1.0,294.020112,295.843240,290.496736,293.089740,5.369500e+06
75%,694.715000,701.622500,687.145000,695.167500,1.078838e+07,0.000000,1.0,542.074570,545.807500,537.120000,541.775000,1.078838e+07
max,1226.800000,1228.880000,1218.600000,1220.170000,8.215110e+07,567.971668,1.0,1005.490000,1008.610000,996.620000,1004.280000,8.215110e+07

In [10]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [11]:
df.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2017-07-11,950.52,954.89,945.12,953.5300,1444540.0,0.0,1.0,950.52,954.89,945.12,953.5300,1444540.0
2017-07-12,960.86,969.63,957.04,967.6600,1589548.0,0.0,1.0,960.86,969.63,957.04,967.6600,1589548.0
2017-07-13,970.80,978.70,964.80,968.7175,1519987.0,0.0,1.0,970.80,978.70,964.80,968.7175,1519987.0
2017-07-14,974.00,977.54,970.15,976.9100,1048240.0,0.0,1.0,974.00,977.54,970.15,976.9100,1048240.0
2017-07-17,976.32,983.35,970.80,975.9600,1644618.0,0.0,1.0,976.32,983.35,970.80,975.9600,1644618.0

### Feature Engineering

In [12]:
# (Peak - Trough) / Trough * 100
df['hi_lo_pct'] = (df['Adj. High'] - df['Adj. Low']) / df['Adj. Close'] * 100.0

In [13]:
# (New - Old) / Old * 100
df['pct_change'] = (df['Adj. Close'] - df['Adj. Open']) / df['Adj. Close'] * 100.0

In [14]:
# Drop unused columns
df.drop(['Open', 'High', 'Low', 'Close', 'Volume', 'Ex-Dividend', 'Split Ratio', 'Adj. Open', 'Adj. High', 'Adj. Low'], axis=1, inplace=True)

In [19]:
# Forecast out {{ 1% * len(df) }} days into the future
forecast_col = 'Adj. Close'
forecast_pct = 0.01
forecast_out = int(math.ceil(forecast_pct * len(df)))
df['label'] = df[forecast_col].shift(-forecast_out)

In [20]:
# Drop last 1% of data since it will lack a label
df.dropna(inplace=True)

In [21]:
df.head()

            Adj. Close  Adj. Volume  hi_lo_pct  pct_change      label
Date
2004-08-19   50.322842   44659000.0   8.072956    0.323915  68.752232
2004-08-20   54.322689   22834300.0   7.921706    6.739913  69.639972
2004-08-23   54.869377   18256100.0   4.049360   -1.243144  69.078238
2004-08-24   52.597363   15247300.0   7.657099   -6.074187  67.839414
2004-08-25   53.164113    9188600.0   3.886792    1.169811  68.912727

In [22]:
df.tail()

            Adj. Close  Adj. Volume  hi_lo_pct  pct_change     label
Date
2017-05-23      970.55    1529617.0   1.031374    0.060790  953.5300
2017-05-24      977.61    1128880.0   0.663363    0.240382  967.6600
2017-05-25      991.86    1951402.0   1.810739    1.296554  968.7175
2017-05-26      993.27    1622807.0   0.909118    0.127861  976.9100
2017-05-30      996.17    1511472.0   0.628397    0.368411  975.9600

### Training

In [23]:
# Get and scale features
X = np.array(df.drop('label', axis=1))
X = preprocessing.scale(X)

In [24]:
# Get labels
y = np.array(df['label'])

In [25]:
# Get train-test split
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.2)

In [26]:
# Get SVM and fit train data
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [28]:
# Coefficient of determination (R^2)
r2 = lin_reg.score(X_test, y_test)
print('Coefficient of Determination: ' + str(r2))

# Root mean square error (RMSE)
rmse = np.sqrt(mean_squared_error())
print('Root Mean Squared Error: ' + str(rmse))

Coefficient of Determination: 0.971763408017